:host {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1000;
}
.mv-header {
  padding: 1em 0;
  background-color: rgba(#fff, .4);

  &__logo {
    max-height: 4rem;
  }

  &__title {
    margin: 0;
    font-family: "Roboto Slab";
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #bbb;
    color: #333;
  }

  &__logo-federation {
    max-height: 4rem;
  }

  /**
   * Modificadores
   */
  &--floated {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
