<header id="mainHeader" class="mv-header mv-header--floated">
  <div class="container">
    <div class="row">
      <!--Logo-->
      <div class="col-xs-3 col-sm-2">
        <img class="mv-header__logo" src="/assets/img/logo-fkr.svg" alt="Federação de Karatê de Rondônia">
      </div>
      <!--/Logo-->
      <!--Text-->
      <div class="col-xs">
        <h2 class="mv-header__title">
          Federação de Karatê de Rondônia
        </h2>
      </div>
      <!--/Text-->
      <!--Logo parceiro-->
      <div class="col-xs-3 col-sm-1">
        <img class="mv-header__logo-federation" src="/assets/img/logo-cbk.svg" alt="Confederação Brasileira de Karatê">
      </div>
      <!--/Logo parceiro-->
    </div>
  </div>
</header>
