:host {
  position: relative;
  height: 100%;
}
body {
  // background-color: #000066;
}
.mv-big-banner {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #7eca45;
}

.book, .page {
  height: 100%;
}
.book {

}
.page {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_row{
    height: 100%;
  }

  &_title{
    color: #327F35;
    text-align: center;
  }

  &--left {

  }
  &--right {

  }
}

.btn {
  display: inline-block;
  max-width: 10rem;

  &-default {
    
  }
}
