<mv-header></mv-header>

<!--Mega Slideshow-->
<mv-mega-slideshow></mv-mega-slideshow>
<!--/Mega Slideshow-->

<!-- Component -->

<section class="container book">
  <div class="row page_row">
    <div class="col-xs-6 page page--left">
      <h1 class="page_title">Calendário</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <button class="btn btn-default" type="button">2016</button>
    </div>
    <div class="col-xs-6 page page--right">
      <h1 class="page_title">Contato</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <button class="btn btn-default" type="button">Mensagem</button>
    </div>
  </div>
</section>

<!-- \Component -->
