:host {
  position: relative;
  // min-height: 40rem;
  height: 100%;
  padding-top: 8rem;
  display: flex;
  background-image: url(/assets/img/banner-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
