/* You can add global styles to this file, and also import other style files */
@import "../node_modules/flexboxgrid/dist/flexboxgrid.min.css";

html, body {
  font-family: "Roboto";
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab";
}
